.basket
	// background-color: #FFF
	margin-bottom: 25px
	+clr
	&__subject
		background-color: #FFF
		border-bottom: 1px solid $body
		+clr
		+ .basket__subject
			+r(840)
				margin-top: 25px
	&__good
		width: 50%
		+clr
		+r(840)
			width: 100%
		h3
			line-height: 60px
			color: $black
			font-size: 12px
			text-transform: uppercase
			text-align: center
			+lr
			+r(840)
				display: none
	&__header,
	&__item
		width: 100%
		float: left
		vertical-align: top
		position: relative
	&__item
		// padding: 20px 0 25px 20px
		border-top: 1px solid $body
		.height__center
			+vcenter
		&_img
			height: 70px
			float: left
			width: 70px
			// display: table-cell
			vertical-align: top
			width: 100px
			+r(480)
				width: 80px
			img
				height: 100%
				max-width: 100%
				width: auto
				margin: 0 auto
				max-height: 70px
		&_text
			vertical-align: top
			padding-right: 30px
			+r(840)
				padding-right: 50px
			.icon-del
				display: none
				position: absolute
				top: 20px
				right: 20px
				+r(840)
					display: block
	&__header
		+r(840)
			display: none
	&__size,
	&__color,
	&__sum,
	&__prise,
	&__del
		position: relative
		width: 20%
		float: left
		padding-left: 20px
		min-height: 60px
		+r(840)
			width: 25%
			padding-left: 10px
		h3
			+r(840)
				display: block
	&__del
		+r(840)
			display: none

	.option__sum_wrap
		margin-top: 0
	&__buy
		padding: 25px
		background-color: #FFF
		border-top: 1px solid $body
		+clr
	.btn__transparent
		float: left
		border-color: $body
		color: $black
		+tr(.3s)
		&:hover
			background-color: $red
			color: #FFF
	&__price
		float: right
		width: 380px
		&_item
			float: left
			vertical-align: top
			span
				display: inline-block
				vertical-align: top
				margin-top: 15px
				margin-right: 10px
				font-size: 12px
				text-transform: uppercase
				color: $black
			strong
				display: inline-block
				margin-top: 5px
				font-size: 24px
				text-transform: uppercase
				color: $black
				+lbl
	.btn__red
		width: 225px
		float: right
		vertical-align: top