.categories
	+clr
	.box__ms
		padding: 45px 20px 50px
		z-index: 500
		&:last-child
			margin-right: 0
	&__img
		text-align: center
		height: 130px
		img
			max-height: 100%
			height: 100%
			width: auto
			max-width: 100%
			-webkit-border-radius: 100%
			border-radius: 100%
	.title__category
		margin: 20px 0 30px
		text-align: center
	&__outline
		position: absolute
		top: 0
		left: -35%
		height: 100%
		width: 175%
		background-color: #fff
		z-index: -1
