@each $s in icon-lupa,bird,icon-f,icon-vk,icon-tw,icon-g,icon-ok,icon-tv,icon__bay,icon-arrowbutton,icon-close,icon-shoe,icon-child,icon-auto,icon-acses,icon-cult,icon-bag,icon-sport,icon-health,icon-tea,icon-home,icon-teh,icon-basket,icon-check
	.#{$s}
		display: inline-block
		+s(#{$s})


.icon-lupa
	position: absolute
	top: 15px
	right: 0
	z-index: 1
	background-color: $n
	cursor: pointer
.icon__heart
	position: absolute
	top: 20px
	right: 20px
	width: 20px
	height: 18px
	background-image: url("../img/icon__heart.jpg")
	z-index: 1
	&:hover
		+gray

.icon-arrowbutton
	position: absolute
	bottom: 20px
	left: 50%
	margin-left: -5px

.icon-minus
	background-color: $n

.icon-plus
	background-color: $n
