.bigest
	position: relative
	height: 345px
	text-align: center
	background-color: $yellow
	+clr
	img
		width: 100%
		max-width: 100%
		vertical-align: top
	&__ower
		+vcenter
		z-index: 5
		p
			font-size: 12px
			text-transform: uppercase
			color: #FFF
			margin-bottom: 15px
			+lr

.prod__hs
	position: relative
	width: 31%
	float: left
	vertical-align: top
	margin-right: 3%
	padding-bottom: 15px
	background-color: #FFF
	+clr
	&:last-child
		margin-right: 0
	&_transparent
		@extend .prod__hs
		background-color: $n
		padding-bottom: 0
	&_img
		text-align: center
		padding: 25px 10px 15px
		img
			max-width: 100%
			vertical-align: middle
	&_text
		margin: 10px 20px 15px
		a
			+link
	.stars
		float: right
		margin-right: 20px
		bottom: 4px

.prod__hss
	width: 100%
	float: left
	vertical-align: top
	margin-bottom: 20px
	padding: 10px
	background-color: #FFF
	+clr
	&:last-child
		margin-bottom: 0
	&_text
		width: 30%
		float: left
		margin: 10px 0
		a
			+link
	&_img
		float: right
		width: 60%
		text-align: center
		img
			max-width: 100%
			vertical-align: middle
			max-height: 145px
			margin: 0 auto
.comment
	&__user
		padding: 35px 25px 0
		vertical-align: top
		+clr
		&_wrap,
			position: relative
			height: 40px
		&_img
			position: relative
			float: left
			width: 40px
			height: 40px
			margin-right: 15px
			img
				+vcenter
				-webkit-border-radius: 100%
				border-radius: 100%
		.comment__user_center
			position: absolute
			top: 50%
			left: 25%
			transform: translateY(-50%)
		a
			font-size: 14px
			color: $black
			+lb
			&:hover
				color: $red
	&__text
		padding: 15px 25px 25px
		border-bottom: 1px solid #edeff1
		p
			font-size: 14px
			color: $black
			+lr
	&__item
		padding: 25px
		&_img
			width: 60px
			height: 65px
			float: left
			margin-right: 15px
			img
				max-width: 100%
				max-height: 100%
				margin: 0 auto
				vertical-align: top
		&_price
			height: 65px
			a
				display: inline-block
				font-size: 14px
				color: $red
				+lr
				&:hover
					text-decoration: underline
			&_wrap
				white-space: nowrap
				margin-top: 10px
				s
					font-size: 14px
					color: $gray
					+lr
				strong
					font-size: 14px
					color: $black
					+lr

.delivery
	width: 100%
	height: 95px
	margin: 25px 0
	&__item
		position: relative
		height: 95px
		width: 20%
		float: left
		color: #FFF
		font-size: 14px
		position: relative
		background-color: #cd1350
		&:hover
			.delivery__subitem
				height: auto
				opacity: 1
				bottom: 100px
				+tr(.8s)
		&:after
			content: ""
			position: absolute
			z-index: 2
			top: 0
			bottom: 0
			left: 91%
		&:nth-of-type(1)
			&:after
				width: 23px
				background-image: url("../img/deliv1.jpg")
		&:nth-of-type(2)
			background-color: #df1234
			&:after
				width: 23px
				background-image: url("../img/deliv2.jpg")
		&:nth-of-type(3)
			background-color: #ef2a1d
			&:after
				width: 23px
				background-image: url("../img/deliv3.jpg")
		&:nth-of-type(4)
			background-color: #f75412
			&:after
				width: 25px
				background-image: url("../img/deliv4.jpg")
		&:nth-of-type(5)
			background-color: #ff8607
		p
			position: absolute
			left: 15%
			width: 80%
			top: 50%
			transform: translateY(-50%)
.delivery__subitem
	position: absolute
	height: 0
	opacity: 0
	bottom: 0
	left: -10%
	width: 110%
	padding: 30px 30px 50px
	background-color: $red
	+tr(.3s)
	span
		font-size: 14px
		color: #FFF
		+lr


.subscribe
	margin: 35px 25px 45px
	text-align: center
	img
		margin: 0 auto
		max-height: 65px
		vertical-align: top
	&__text
		text-align: center
		margin: 40px 0 30px
		p
			font-size: 18px
			color: $black
			+lbl
	&__form
		position: relative
		input
			width: 100%
			height: 44px
			border: 1px solid $body
			-webkit-border-radius: 5px
			border-radius: 5px
			padding: 0 30px 0 15px
			+placeholder
				font-size: 14px
				color: $black
				+lr
			&:hover
				border: 1px solid $gray
		.icon-subscribe
			position: absolute
			top: 20px
			right: 12px
			display: inline-block
			+s(icon-subscribe)
			background-color: $n
