.product
	position: relative
	width: 83%
	float: left
	margin-right: 2%
	padding-bottom: 35px
	background-color: #FFF
	+clr
	+r(1140)
		width: 100%
		margin-right: 0
	+r(700)
		padding: 20px
	&__img
		float: left
		width: 300px
		margin-right: 25px
		background-color: #FFF
		+clr
		+r(700)
			width: 100%
			margin-right: 0
		&_big
			position: relative
			top: auto
			text-align: center
			width: 100%
			height: 310px
			+clr
			img
				+vcenter
				max-width: 100%
				max-height: 100%
		&_preview
			padding: 15px 0 15px
			&_item
				display: inline-block
				margin-left: 5px
				width: 50px
				height: 50px
				&:nth-child(5n+1)
					margin-left: 10px
				img
					width: 100%
					height: 100%
	&__label
		position: absolute
		top: 20px
		left: 20px
		padding: 3px 6px
		background-color: $red
		color: #FFF
		text-transform: uppercase
		font-size: 11px
		+lb
	&__text
		width: calc(100% - 325px)
		float: left
		+clr
		+r(700)
			width: 100%
			float: none
			padding: 20px
		+r(640)
			padding: 20px 0
	.title__category
		font-weight: 400
		+r(700)
			display: none
	&__favorite
		height: 40px
		margin-bottom: 10px
		+clr
		+r(700)
			display: none
		.stars
			float: left
			bottom: -10px
		.icon__heart
			float: right
			top: 10px
			right: 10px
	&__option
		margin: 20px 0 0
		padding-bottom: 25px
		+clr

.option__size
	float: left
	margin-right: 65px
	+r(980)
		width: 100%
		text-align: center
		margin: 0
.option__wrap
	margin-top: 10px
	+clr
	+r(980)
		margin: 10px auto
	.is_active
		border-color: $red
		background-color: $red
		color: #FFF
		&:hover
			cursor: default
			color: #FFF
	.is_disable
		color: $body
		&:hover
			cursor: default
			color: $body
.option__size_item
	float: left
	width: 30px
	height: 30px
	margin-right: 5px
	border: 1px solid $body
	-webkit-border-radius: 5px
	border-radius: 5px
	line-height: 30px
	text-align: center
	text-transform: uppercase
	font-size: 12px
	color: $black
	+lr
	&:hover
		color: $red
	+r(980)
		float: none
		display: inline-block
.option__color
	float: left
	margin-right: 45px
	+r(980)
		width: 48%
		text-align: center
		margin: 20px 0 0
.option__color_item
	position: relative
	display: inline-block
	height: 30px
	width: 30px
	-webkit-border-radius: 100%
	border-radius: 100%
	margin-right: 7px
	+r(980)
		margin-top: 10px
	&.is_active
		&:after
			content: ""
			position: absolute
			bottom: -13px
			left: 50%
			margin-left: -6px
			+arr(8, 6, $red, t)

.option__sum
	float: left
	+clr
	+r(980)
		float: right
		width: 48%
		text-align: center
		margin: 20px 0 0
.option__sum_wrap
	position: relative
	width: 85px
	height: 30px
	margin-top: 10px
	border: 1px solid $body
	-webkit-border-radius: 5px
	border-radius: 5px
	padding: 5px
	+clr
	+r(980)
		margin: 10px auto 0
	.icon-minus
		float: left
		color: $red
		font-size: 18px
		margin-left: 5px
		+lb
	.icon-plus
		float: right
		color: $red
		font-size: 18px
		margin-right: 5px
		+lb
	span
		+vcenter
		color: $black
		+lr

.product__buy
	padding: 26px 0
	border-top: 1px solid $body
	border-bottom: 1px solid $body
	+clr
	+r(892)
		padding-right: 20px
	.btn__red
		float: left
		margin: 0 10px 0 25px
		position: relative
		padding: 0 26px
		+r(640)
			float: right
			margin: 0 0 0 10px
		+r(370)
			padding: 0 15px
		span
			line-height: 45px
			padding-left: 30px
		.icon-basket
			position: absolute
			top: 8px
			left: 25px
			+r(370)
				left: 15px
				top: 10px
	.btn__transparent
		position: relative
		float: left
		color: $black
		border: 1px solid $gray
		+r(930)
			margin-top: 10px
			width: 96%
		+r(700)
			width: 100%
		&:hover
			background-color: $red
			border-color: $n
			span
				color: #FFF
			.icon-check
				+s(icon-checkh)
		span
			line-height: 45px
			padding-left: 30px
	.icon-check
		position: absolute
		top: 10px
		left: 20px
		+r(892)
			left: 32%
		+r(840)
			left: 26%
		+r(750)
			left: 20%
		+r(700)
			left: 33%
		+r(560)
			left: 26%
		+r(400)
			left: 18%
			top: 13px
		+r(325)
			left: 11%
.product__buy_price
	float: left
	s
		color: $gray
		font-size: 27px
		text-transform: uppercase
		+lbl
		margin-right: 20px
		+r(640)
			margin-right: 10px
			font-size: 20px
			line-height: 45px
		+r(330)
			margin-right: 5px
	strong
		font-size: 27px
		text-transform: uppercase
		color: $black
		+lbl
		+r(640)
			font-size: 20px
			line-height: 45px

.product__delivery_cost
	float: left
	margin: 20px 0 30px
	+r(980)
		width: 100%
	strong
		display: inline-block
		margin-top: 10px
.product__delivery_time
	float: left
	margin: 20px 70px 30px 0
	+r(980)
		width: 48%
		margin: 10px 4% 10px 0
	strong
		display: inline-block
		margin-top: 10px
.product__delivery_waga
	float: left
	margin: 20px 0 30px
	+r(980)
		width: 48%
		float: right
		margin-top: 10px
	strong
		display: inline-block
		margin-top: 10px
.delivery__post
	float: left
	margin-right: 20px
	margin-top: 10px
	+r(640)
		margin-right: 0
	strong
		margin-top: 0
		color: $black
		+lb
	.select
		width: 180px
		margin: 1px 20px 0 10px
		+r(350)
			margin: 5px 5px 0 5px
			width: 100%
		&__text
			height: 18px
			line-height: 1
			padding: 0
			border: 0
			background-color: $n
			-webkit-border-radius: 0
			border-radius: 0
			color: $red
			border-bottom: 1px dotted $red
			&:before
				+arr(7, 5, $black, b)
				top: 4px
				right: -15px
				background-image: none
		&__list
			top: 18px
			+r(700)
				background-color: $body
			li
				line-height: 20px
				padding: 0
				+r(700)
					margin-bottom: 10px
					padding-left: 10px

.box__seller
	float: right
	width: 15%
	background-color: #FFF
	// padding: 20px 20px 0
	border-bottom: 1px solid $body
	+clr
	&:last-child
		margin-top: 25px
		padding-top: 20px
	+r(1140)
		width: 49%
		float: left
		margin-right: 1.5%
		vertical-align: top
		margin-top: 25px
		&:last-child
			margin-right: 0
			float: right
			min-sheight: 212px
	.title__category
		margin: 15px 20px
	&_wrap
		padding: 0px 0 30px
		text-align: center
		.title__category
			font-size: 17px
			margin: 10px 0
		.btn__transparent
			border: 1px solid $body
			color: $black
			text-transform: none
			&:hover
				background-color: $red
				color: #FFF
				border: 1px solid $n
			+r(1140)
				margin-top: 20px
.box__original
	float: right
	width: 100%
	background-color: #FFF
	padding: 20px
	border-top: 1px solid $body
	+clr
	+r(1140)
		float: none
		width: 100%
		padding: 10px 20px
.seller__info
	margin: 15px 20px
	strong
		margin-top: 10px
		+lb
	img
		margin-top: 10px

.seller__name
	display: block
	margin-bottom: 10px
	color: $black
	&:hover
		color: $red

.orginal_page_img
	float: left
	vertical-align: top
	margin-right: 10px
	margin-bottom: 30px
	+r(1140)
		margin-bottom: 0
	+r(640)
		display: none
.orginal_page
	width: 80%
	vertical-align: top
	font-size: 14px
	color: $black
	+lr
	+r(640)
		width: 100%
	&:hover
		color: $red

.surprice
	margin-top: 25px
	+clr
	&__item
		position: relative
		float: left
		width: 25%
		height: 125px
		background-color: #FFF
		border-right: 1px solid $body
		text-align: center
		+r(767)
			width: 100%
			border-right: 0
			border-bottom: 1px solid $body
		&:last-child
			border-right: 1px solid #fff
		&_wrap
			+vcenter
			width: 80%
		h3
			font-size: 14px
			color: $black
			text-align: center
			margin-bottom: 10px
			+lb
		p
			color: $gray

// ************** detail  *******

.detail
	margin-top: 25px
	background-color: #FFF
	+clr
	&__tab
		position: relative
		&_item
			// width: 33%
			display: inline-block
			vertical-align: top
			height: 78px
			border-top: 1px solid #fff
			padding: 0 25px
			+tr(.3s)
			+r(1220)
				padding: 0 15px
			+r(1160)
				width: 100%
				padding: 0 30px
			+r(767)
				height: 65px
			&.is_active
				border-top-color: $red
				.btn__transparent
					visibility: visible
				+r(1160)
					h3
						font-weight: 800
						text-decoration: none
			&:hover
				border-top-color: $gray
				h3
					color: $red
		h3
			font-size: 18px
			line-height: 78px
			color: $black
			+lb
			+r(1160)
				font-size: 16px
				line-height: 1.2
				text-decoration: underline
				margin-top: 20px
		.btn__transparent
			position: absolute
			top: 17px
			right: 30px
			vertical-align: top
			visibility: hidden
			color: $black
			border: 1px solid $body
			+r(1160)
				display: none
			&:hover
				background-color: $red
				color: #FFF
	&__charactristics
		+clr
		+r(640)
			padding-bottom: 20px
	&__text
		border-top: 1px solid $body
		border-bottom: 1px solid $body
		+clr
		+r(640)
			margin-bottom: 15px
		&_list
			padding-top: 25px
			width: 50%
			+r(700)
				width: 100%
				&:nth-child(even)
					padding-top: 0
			&.get__left
				border-right: 1px solid $body
				+r(700)
					border-right: 0
		p
			font-size: 14px
			margin-bottom: 25px
			+clr
			span
				float: left
				text-align: right
				width: 30%
				padding-left: 40px
				color: $gray
				+r(700)
					width: 48%
			strong
				float: right
				width: 67%
				+lb
				+r(700)
					width: 48%
	&__img
		width: 50%
		+r(640)
			width: 80%
			margin: 0 auto
		&.get__left
			padding: 35px 10px 35px 45px
			+r(640)
				padding: 20px 0 15px
				float: none
		&.get__right
			padding: 35px 45px 35px 10px
			+r(640)
				padding: 20px 0 15px
				float: none
		&:hover
			.detail__img_over
				visibility: visible
				opacity: 1
		&_wrap
			position: relative
			img
				width: 100%
				height: 100%
				max-width: 100%
				max-height: 100%
				vertical-align: top
		&_over
			visibility: hidden
			opacity: 0
			+tr(.5s)
			+coverdiv
			background-color: rgba(205, 19, 80, .5)
			a
				+vcenter
				img
					-webkit-border-radius: 100%
					border-radius: 100%
	&__comment
		+clr
		&_top
			height: 105px
			border-top: 1px solid $body
			border-bottom: 1px solid $body
			+clr
			+r(1160)
				height: 180px
			+r(750)
				height: auto
				padding-bottom: 25px
			&_total
				position: relative
				float: left
				width: 290px
				border-right: 1px solid $body
				padding: 35px 35px 29px
				+r(1160)
					height: 180px
					padding-top: 40px
				+r(750)
					border: none
					width: 100%
					padding: 20px 20px 10px
					height: auto
				+r(479)
					padding-bottom: 60px
				h5
					display: inline-block
					font-size: 18px
					color: $black
					text-transform: uppercase
					+lb
				span
					display: inline-block
					width: 40px
					height: 40px
					text-align: center
					line-height: 40px
					background-color: $red
					-webkit-border-radius: 100%
					border-radius: 100%
					font-size: 18px
					color: #FFF
					margin-left: 15px
					+lb
				.btn__transparent
					position: absolute
					bottom: 30px
					left: 30px
					border: 1px solid $body
					color: $black
					display: none
					+tr(.3s)
					&:hover
						color: #FFF
						background-color: $red
					+r(1160)
						display: block
					+r(750)
						top: 20px
						bottom: auto
						left: auto
						right: 20px
					+r(479)
						top: auto
						right: auto
						bottom: 0px
						left: 10%
						width: 80%
						// width: auto
		&_bottom
			padding: 55px 0
			background-color: #FFF
			+clr
			+r(767)
				padding: 55px 10px
			.center__container
				+r(767)
					width: 100%
		&_rate
			width: calc(100% - 290px)
			float: left
			+clr
			+r(1160)
				padding-right: 25px
			+r(750)
				width: 100%
			&_item
				height: 100%
				padding-top: 35px
				float: left
				width: 23%
				height: 76px
				padding-left: 30px
				+box
				+r(1160)
					width: 49%
					&:nth-child(even)
						float: right
				+r(750)
					width: 100%
				h6
					font-size: 14px
					margin-bottom: 10px
					+lr
				.stars
					float: left
					bottom: 10px


// *******  feadback   *******


.feadback
	+clr
.feadback__user
	// width: 16%
	width: 20%
	float: left
	text-align: right
	padding-top: 15px
	min-width: 200px
	+clr
	p
		float: right
		color: $gray
		font-size: 14px
		+lr
		+r(767)
			float: left
			margin-left: 10px
	strong
		+lb
	.stars
		+r(767)
			float: left
			margin-bottom: 10px
.feadback__text
	position: relative
	width: calc(100% - 235px)
	float: right
	border: 1px solid $body
	padding: 25px 50px 25px 35px
	+r(767)
		width: 100%
		border: none
		padding: 25px 10px
	&:before
		content: ""
		position: absolute
		top: 20px
		left: -20px
		+s(icon-feadback)
		+r(767)
			content: none

