.clear
	clear: both
	height: 0
	display: table
.show768
	display: none
	+r(768)
		display: block
.hide640
	+r(640)
		display: none
.see700
	position: relative
	display: none
	+clr
	+r(700)
		display: block
	.product__favorite
		display: block
	.title__category
		display: block !important
		margin-bottom: 30px
		font-weight: 600
.center
	+vcenter
.height__center
	position: absolute
	top: 50%
	+try(-50%)
.pole
	clear: both
	height: 30px
.box__ms
	position: relative
	width: 270px
	padding-top: 1px
	background-color: #FFF
	margin-right: 25px
	+clr
	+r(640)
		width: 100%
		margin-right: 0
		margin-bottom: 25px
.box__xl
	// width: 74%
	width: calc(100% - 295px)
	padding-top: 1px
	background-color: #FFF
	+clr
	+r(640)
		width: 100%
		margin-right: 0
		margin-bottom: 25px
.box__l
	position: relative
	width: 65.5%
	float: left
	overflow: hidden
	margin-bottom: 20px
	+clr
	+r(767)
		width: 100%
		float: none
	.slider__item_x
		width: 100%
.box__s
	position: relative
	width: 31%
	float: right
	+clr
	+r(767)
		width: 100%
		float: none
	.slider__item_transparent
		width: 100%
		height: auto
.box__xs
	position: relative
	width: 23.3%
	display: inline-block
	margin-right: 1.9%
	vertical-align: top
	+clr
	+r(860)
		width: 49%
		float: left
		margin: 0 0 20px 0
		&:nth-child(even)
			float: right
		// &:nth-child(even)
		// 	mr
	+r(640)
		width: 100%
		float: none
	&:nth-child(4n)
		margin-right: 0

// .box__sm  //face - cloth
// 	position: relative
// 	width: 14.5%
// 	float: left
// 	margin-right: 2.5%
// 	+clr

.section
	background-color: #FFF
	height: 60px
	padding: 0 25px
	margin: 25px 0
	+clr
	+r(768)
		height: auto
		min-height: 65px
		padding: 15px 10px 0 25px
	.title__section
		max-width: 80%
		+r(768)
			float: left
			line-height: 1.2
			margin: 10px 10px 10px 0
	&__btn,
	&__right
		float: right
		margin-top: 20px
		a
			font-size: 14px
			color: $red
			+lr
			+tr(.3s)
			+r(640)
				display: none
			&:hover
				color: black
	&__btn
		+r(768)
			width: 35px
			// margin-top: 3px
			margin-top: 0
			margin-bottom: 5px
	.goods
		display: inline-block
		width: 135px
		vertical-align: top
		margin: 10px 0 0 30px
		+r(768)
			margin: 0 0 0 10px
			float: right
		+r(400)
			float: left
			margin: 0 0 10px 0
		strong
			display: inline-block
			width: 40px
			height: 40px
			margin-right: 10px
			border: 1px solid $body
			-webkit-border-radius: 100%
			border-radius: 100%
			background-color: #FFF
			color: $black
			text-align: center
			line-height: 40px
			font-size: 16px
			+lbl
	.steps
		display: inline-block
		height: 60px
		margin-left: 30px
		vertical-align: top
		+r(915)
			margin-left: 15px
		+r(830)
			display: none
		a
			display: inline-block
			position: relative
			padding: 22px
			line-height: 15px
			color: $black
			+lr
			+r(915)
				padding: 22px 15px
			&:hover
				color: $red
			&:after
				content: ""
				position: absolute
				top: 27px
				right: -1px
				+arr(4, 5, $red, r)
			&:last-child::after
				content: none
			&.is_active
				border-top: 2px solid $red
				line-height: 14px
				+lb

.empty
	+clr
.prod__price
	float: left
	s
		font-size: 14px
		text-transform: uppercase
		color: $gray
		margin-right: 10px
		+lr
	strong
		text-transform: uppercase
		font-size: 14px
		color: $black
		+lbl
.stars
	position: relative
	float: right
	width: 83px
	height: 13px
	bottom: 4px
	z-index: 2
	.star
		display: inline-block
		vertical-align: middle
		width: 13px
		height: 11px
		margin-right: 0
	.star_l
		display: block
		float: left
		width: 7px
		height: 11px
		background: url(../img/star_p.png)
		cursor: pointer
		margin-right: 0
	.star_r
		display: block
		float: left
		width: 6px
		height: 11px
		background: url(../img/star_p.png) 100% 0 no-repeat
		cursor: pointer
		margin-right: 0
	.star_l.active
		background: url(../img/star_a.png) 0 0 no-repeat
	.star_r.active
		background: url(../img/star_a.png) 100% 0 no-repeat

.breadcrumbs
	height: 51px
	padding-top: 20px
	a
		display: inline-block
		position: relative
		font-size: 14px
		color: $black
		margin-right: 20px
		+lr
		&:hover
			color: $red
		&:after
			content: ""
			position: absolute
			top: 8px
			right: -13px
			+arr(4, 5, $red, r)
	.is_active
		color: $gray
		&:after
			content: none

.bay
	display: block
	height: 40px
	width: 170px
	border: 1px solid #d1d5d9
	border-radius: 40px
	&__price
		position: relative
		float: left
		border-right: 1px solid #d1d5d9
		height: 40px
		width: 114px
		white-space: nowrap
	s
		font-size: 14px
		text-transform: uppercase
		color: #929497
		margin-right: 10px
		+lr
	strong
		font-size: 14px
		text-transform: uppercase
		color: $black
		+lr
	&__img
		float: left
		height: 40px
		width: 52px
		position: relative
		i
			+vcenter

.box__half
	width: 49%
	+clr
	+r(765)
		width: 100%
		+ .box__half
			margin-top: 25px
.get__left
	float: left
.get__right
	float: right

.date
	font-size: 12px
	color: $gray
	+lr

.company__wrapper
	margin: 40px 55px 45px 45px
	p
		color: $gray
	.title__section
		line-height: 1.2
		margin-bottom: 15px

.status__plus
	height: 5px
	width: 100%
	+gh(#ffd907 83.3%, #edeff1 83.4%)
.status__neitral
	height: 5px
	width: 100%
	+gh(#ff8707 8.3%, #edeff1 8.4%)
.status__negative
	height: 5px
	width: 100%
	+gh(#ea1b24 8.3%, #edeff1 8.4%)
input
	&:focus
		border-color: $gray