.clear
	clear: both
	height: 0
	display: table
.center
	+vcenter
.pole
	clear: both
	height: 30px
.box__ms
	position: relative
	width: 270px
	padding-top: 1px
	background-color: #FFF
	margin-right: 25px
	+clr
.box__xl
	// width: 74%
	width: calc(100% - 295px)
	padding-top: 1px
	background-color: #FFF
	+clr
.box__l
	position: relative
	width: 65.5%
	float: left
	overflow: hidden
	+clr
.box__s
	position: relative
	width: 31%
	float: right
	+clr
.box__xs
	position: relative
	width: 23.3%
	display: inline-block
	margin-right: 2%
	+clr
	&:nth-child(4n)
		margin-right: 0
// .box__sm  //face - cloth
// 	position: relative
// 	width: 14.5%
// 	float: left
// 	margin-right: 2.5%
// 	+clr

.section
	background-color: #FFF
	height: 60px
	padding: 0 25px
	margin: 25px 0
	&__btn,
	&__right
		float: right
		margin-top: 20px
		a
			font-size: 14px
			color: $red
			+lr
			+tr(.3s)
			&:hover
				color: black


.empty
	+clr
.prod__price
	float: left
	s
		font-size: 14px
		text-transform: uppercase
		color: $gray
		margin-right: 10px
		+lr
	strong
		text-transform: uppercase
		font-size: 14px
		color: $black
		+lbl

.stars
	position: relative
	float: right
	width: 83px
	height: 13px
	bottom: 4px
	z-index: 2
	.star
		display: inline-block
		vertical-align: middle
		width: 13px
		height: 11px
		margin-right: 0
	.star_l
		display: block
		float: left
		width: 7px
		height: 11px
		background: url(../img/star_p.png)
		cursor: pointer
		margin-right: 0
	.star_r
		display: block
		float: left
		width: 6px
		height: 11px
		background: url(../img/star_p.png) 100% 0 no-repeat
		cursor: pointer
		margin-right: 0
	.star_l.active
		background: url(../img/star_a.png) 0 0 no-repeat
	.star_r.active
		background: url(../img/star_a.png) 100% 0 no-repeat

.breadcrumbs
	height: 51px
	padding-top: 20px
	a
		display: inline-block
		position: relative
		font-size: 14px
		color: $black
		margin-right: 20px
		+lr
		&:hover
			color: $red
		&:after
			content: ""
			position: absolute
			top: 8px
			right: -13px
			+arr(4, 5, $red, r)
	.is_active
		color: $gray
		&:after
			content: none

.bay
	display: block
	height: 40px
	width: 170px
	border: 1px solid #d1d5d9
	border-radius: 40px
	&__price
		position: relative
		float: left
		border-right: 1px solid #d1d5d9
		height: 40px
		width: 114px
		white-space: nowrap
	s
		font-size: 14px
		text-transform: uppercase
		color: #929497
		margin-right: 10px
		+lr
	strong
		font-size: 14px
		text-transform: uppercase
		color: $black
		+lr
	&__img
		float: left
		height: 40px
		width: 52px
		position: relative
		i
			+vcenter

.box__half
	width: 49%
	+clr
.get__left
	float: left
.get__right
	float: right

.date
	font-size: 12px
	color: $gray
	+lr

.company__wrapper
	margin: 40px 55px 45px 45px
	p
		color: $gray

.status__plus
	height: 10px
	width: 100%
	+gh(#ffd907 83.3%, #edeff1 83.4%)
