<aside class="aside">
	<div class="aside__head">
		<p>Категории</p>
		<span>все</span>
	</div>
	<ul class="alist">
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-tv"></i>
				электроника
			</a>
			<div class="alist__sub">
				<ul class="blist">
					<li class="blist__item">
						<h4>Заголовок невидимка</h4>
					</li>
					<li class="blist__item">
						<a href="#">Наушники</a>
					</li>
					<li class="blist__item">
						<a href="#">Колонки</a>
					</li>
					<li class="blist__item">
						<a href="#">Карты памяти</a>
					</li>
					<li class="blist__item">
						<a href="#">Аккумуляторы</a>
					</li>
					<li class="blist__item">
						<a href="#">Сумки для электроники</a>
					</li>
					<li class="blist__item">
						<a href="#">Цифровые кабели</a>
					</li>
				</ul>
				<ul class="blist">
					<li class="blist__item">
						<h4>Заголовок невидимка</h4>
					</li>
					<li class="blist__item">
						<a href="#">Наушники</a>
					</li>
					<li class="blist__item">
						<a href="#">Колонки</a>
					</li>
					<li class="blist__item">
						<a href="#">Карты памяти</a>
					</li>
					<li class="blist__item">
						<a href="#">Аккумуляторы</a>
					</li>
					<li class="blist__item">
						<a href="#">Сумки для электроники</a>
					</li>
					<li class="blist__item">
						<a href="#">Цифровые кабели</a>
					</li>
				</ul>

				<a href="#" class="alist__view">
					<div class="alist__view_text">
						<h3 class="title__yellow">Товар дня</h3>
						<p>Lorem ipsum dolor sit amet.</p>
						<s>$80</s>
						<strong>$79</strong>
					</div>
					<img src="img/alist.jpg" alt="Иллюстрация">
				</a>
			</div>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-close"></i>
				одежда
			</a>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-shoe"></i>
				обувь
			</a>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-child"></i>
				детский мир
			</a>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-auto"></i>
				авто и мото
			</a>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-acses"></i>
				украшения и часы
			</a>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-cult"></i>
				культура
			</a>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-bag"></i>
				сумки и аксесуары
			</a>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-sport"></i>
				спортивные товары
			</a>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-health"></i>
				красота и здоровье
			</a>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-tea"></i>
				чайная церемония
			</a>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-home"></i>
				все для дома и офиса
			</a>
		</li>
		<li class="alist__item">
			<a href="#" class="alist__item_link">
				<i class="icon-teh"></i>
				техника
			</a>
		</li>
	</ul>
</aside>