<footer class="footer">
	<div class="footer__top">
		<a href="#">
			<img src="img/wm.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/jam.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/visa.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/rbk.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/vi.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/mc.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/cp.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/tal.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/jd.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/gm.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/ja.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/mai.jpg" alt="Иллюстрация">
		</a>
		<a href="#">
			<img src="img/ram.jpg" alt="Иллюстрация">
		</a>
	</div>

	<div class="footer__main">
		<div class="footer__box">
			<a href="/" class="footer__logo">
				<img src="img/footer__logo.png" alt="Иллюстрация">
			</a>
		</div>
		<div class="footer__box">
				<h3>Инструкция </h3>
				<ul class="footer__list">
					<li><a href="#">Выбор товара</a></li>
					<li><a href="#">Как заказать</a></li>
					<li><a href="#">Условия поставки</a></li>
					<li><a href="#">Как оплатить</a></li>
					<li><a href="#">Описание доставки </a></li>
				</ul>
		</div>
		<div class="footer__box">
				<h3>Личный кабинет</h3>
				<ul class="footer__list">
					<li><a href="#">Процедура регистрации</a></li>
					<li><a href="#">Баллы</a></li>
					<li><a href="#">VIP аккаунт</a></li>
					<li><a href="#">Купоны</a></li>
					<li><a href="#">Пополнение счета </a></li>
				</ul>
		</div>
		<div class="footer__box">
				<h3>Asiatao</h3>
				<ul class="footer__list">
					<li><a href="#">О нас</a></li>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Наши преимущества</a></li>
					<li><a href="#">Возврат денег</a></li>
					<li><a href="#">Пользовательское соглашение </a></li>
				</ul>
		</div>
		<a href="mailto:info@asiatao.com" class="dev_mail">info@asiatao.com</a>
	</div>

	<div class="footer__bottom">
		<p  class="copy"> © 2014-2015 asiatao.com - китайский интернет-магазин Таобао/Ta jnaknsdnjanjknjknjkas asdasda sd </p>
		<a href="mailto:info@asiatao.com" class="dev_mail">info@asiatao.com</a>
		<div class="footer__socio">
			<a href="#" class="socio__f"></a>
			<a href="#" class="socio__vk"></a>
			<a href="#" class="socio__tw"></a>
			<a href="#" class="socio__g"></a>
			<a href="#" class="socio__ok"></a>
		</div>
	</div>
</footer>