<header class="header">
	<div class="header__top">
		<div class="out">
			<nav>
				<ul class="header__menu">
					<li><a href="#">Схема заказа</a></li>
					<li><a href="#">Доставка</a></li>
					<li><a href="#">Оплата</a></li>
					<li><a href="#">Помощь</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</nav>
			<div class="currency">
				<a href="#">usd</a>
				<a href="#">pyc</a>
			</div>
			<div class="header__contakt">
				<a href="callto:+86(991)3632032" class="header__tel">+86 (991) 363 20 32</a>
				<p>10:00-20:00 Пн-Вс</p>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="out">
			<a href="/" class="header__logo">
				<h1>asiato китайский поставщик</h1>
				<img src="img/logo.png" alt="asiato">
			</a>
			<div class="header__search">
				<p>Поиск среди 800 000 товаров</p>
				<div class="select js-select">
					<span class="select__text js-select-text"></span>
					<input type="hidden" class="js-select-input" value="">
					<ul class="select__list js-select-list">
						<li data-id="0">Все категории</li>
						<li data-id="1">Детям</li>
						<li data-id="2">Дядям</li>
					</ul>
				</div>

				<button class="icon-lupa"></button>
			</div>
			<div class="header__corner">
				<div class="header__corner_wish">
					<a href="#" class="my__wish">
						<img src="img/icon-heart.png" alt="Иллюстрация">
						<span>0</span>
					</a>
					<div class="my__buy is_active">
						<a href="#" class="my__buy_link">
							<img class="my__buy_icon" src="img/icon-basket.png" alt="Иллюстрация">
							<span>12</span>
						</a>
						<div class="my__buy_wrap">
							<div class="my__buy_item">
								<div class="my__buy_item_img">
									<img src="img/pic04.jpg" alt="Иллюстрация">
								</div>
								<div class="my__buy_item_text">
									<a href="#" class="my__buy_item_text_center">
										Женские эластичные спортивные леггинсы
									</a>
										<strong>$50</strong>
								</div>
							</div>
							<div class="my__buy_item">
								<div class="my__buy_item_img">
									<img src="img/pic04.jpg" alt="Иллюстрация">
								</div>
								<div class="my__buy_item_text">
									<a href="#" class="my__buy_item_text_center">
										Женские эластичные спортивные леггинсы
									</a>
										<strong>$50</strong>
								</div>
							</div>
							<div class="my__buy_item_price">
								<p>Итого <strong>$133</strong></p>
								<div class="clear"></div>
								<button class="btn__red">оформить заказ</button>
							</div>
						</div>
					</div>
				</div>
				<div class="header__corner_enter">
					<a href="#">Вход</a>
					<a href="#">Регистрация</a>
				</div>
			</div>
		</div>
	</div>
</header>