<div class="slider__comment">
	<div class="slider__comment_item">
		<div class="comment__user">
			<div class="comment__user_img">
				<img src="img/user1.jpg" alt="Иллюстрация">
			</div>
			<a href="#">
				Таня Шарапова
			</a>
		</div>
		<div class="comment__text">
			<p>Лучшее что при думали китайцы, знакомьтесь, мои новые сексуальн</p>
		</div>
		<div class="comment__item">
			<div class="comment__item_img">
				<img src="img/pic04.jpg" alt="Иллюстрация">
			</div>
			<div class="comment__item_price">
				<div class="comment__item_price_wrap">
					<s>$80</s>
					<strong>$22</strong>
				</div>
				<a href="comment__more">Смотреть</a>
			</div>
		</div>
	</div>
	<div class="slider__comment_item">
		<div class="comment__user">
			<div class="comment__user_img">
				<img src="img/user2.jpg" alt="Иллюстрация">
			</div>
			<a href="#">
				Таня Шарапова
			</a>
		</div>
		<div class="comment__text">
			<p>Лучшее что при думали китайцы, знакомьтесь, мои новые счто при думали китайцы, знакомьтесь, мои новые сексуаь, мои новые счто при думали китайцы, знакомьтесь, мои новые сексуальн</p>
		</div>
		<div class="comment__item">
			<div class="comment__item_img">
				<img src="img/pic02.jpg" alt="Иллюстрация">
			</div>
			<div class="comment__item_price">
				<div class="comment__item_price_wrap">
					<s>$80</s>
					<strong>$22</strong>
				</div>
				<a href="comment__more">Смотреть</a>
			</div>
		</div>
	</div>
	<div class="slider__comment_item">
		<div class="comment__user">
			<div class="comment__user_img">
				<img src="img/user1.jpg" alt="Иллюстрация">
			</div>
			<a href="#">
				Таня Шарапова
			</a>
		</div>
		<div class="comment__text">
			<p>Лучшее что при думали китайцы, знакомьтесь, мои новые сексуальн</p>
		</div>
		<div class="comment__item">
			<div class="comment__item_img">
				<img src="img/pic06.jpg" alt="Иллюстрация">
			</div>
			<div class="comment__item_price">
				<div class="comment__item_price_wrap">
					<s>$80</s>
					<strong>$22</strong>
				</div>
				<a href="comment__more">Смотреть</a>
			</div>
		</div>
	</div>
	<div class="slider__comment_item">
		<div class="comment__user">
			<div class="comment__user_img">
				<img src="img/user2.jpg" alt="Иллюстрация">
			</div>
			<a href="#">
				Таня Шарапова
			</a>
		</div>
		<div class="comment__text">
			<p>Лучшее что при думали китайцы, знакомьтесь, мои новые сексуальто при думали китайцы, знакомьтепри думали китайцы, знакомьтесь, мои новые сексуальто при думали китайцы, знакомьтесь, мои новые сексуальн</p>
		</div>
		<div class="comment__item">
			<div class="comment__item_img">
				<img src="img/pic05.jpg" alt="Иллюстрация">
			</div>
			<div class="comment__item_price">
				<div class="comment__item_price_wrap">
					<s>$80</s>
					<strong>$22</strong>
				</div>
				<a href="comment__more">Смотреть</a>
			</div>
		</div>
	</div>
	<div class="slider__comment_item">
		<div class="comment__user">
			<div class="comment__user_img">
				<img src="img/user1.jpg" alt="Иллюстрация">
			</div>
			<a href="#">
				Таня Шарапова
			</a>
		</div>
		<div class="comment__text">
			<p>Лучшее что при думали китайцы, знакомьтесь, мои но при думали китайцы, знакомьтесь, мои новые сексуальн</p>
		</div>
		<div class="comment__item">
			<div class="comment__item_img">
				<img src="img/pic03.jpg" alt="Иллюстрация">
			</div>
			<div class="comment__item_price">
				<div class="comment__item_price_wrap">
					<s>$80</s>
					<strong>$22</strong>
				</div>
				<a href="comment__more">Смотреть</a>
			</div>
		</div>
	</div>
	<div class="slider__comment_item">
		<div class="comment__user">
			<div class="comment__user_img">
				<img src="img/user1.jpg" alt="Иллюстрация">
			</div>
			<a href="#">
				Таня Шарапова
			</a>
		</div>
		<div class="comment__text">
			<p>Лучшее что при думали китайцы, знакомьтесь, мои нов при думали китайцы, знакомьтесь, мои нов при думали китайцы, знакомьтесь, мои новые сексуальн</p>
		</div>
		<div class="comment__item">
			<div class="comment__item_img">
				<img src="img/pic06.jpg" alt="Иллюстрация">
			</div>
			<div class="comment__item_price">
				<div class="comment__item_price_wrap">
					<s>$80</s>
					<strong>$22</strong>
				</div>
				<a href="comment__more">Смотреть</a>
			</div>
		</div>
	</div>
	<div class="slider__comment_item">
		<div class="comment__user">
			<div class="comment__user_img">
				<img src="img/user1.jpg" alt="Иллюстрация">
			</div>
			<a href="#">
				Таня Шарапова
			</a>
		</div>
		<div class="comment__text">
			<p>Лучшее что при думали китайцы, знакомьтесь, мои новые сексуальн</p>
		</div>
		<div class="comment__item">
			<div class="comment__item_img">
				<img src="img/pic04.jpg" alt="Иллюстрация">
			</div>
			<div class="comment__item_price">
				<div class="comment__item_price_wrap">
					<s>$80</s>
					<strong>$22</strong>
				</div>
				<a href="comment__more">Смотреть</a>
			</div>
		</div>
	</div>
	<div class="slider__comment_item">
		<div class="comment__user">
			<div class="comment__user_img">
				<img src="img/user1.jpg" alt="Иллюстрация">
			</div>
			<a href="#">
				Таня Шарапова
			</a>
		</div>
		<div class="comment__text">
			<p>Лучшее что при думали китайцы, знакомьтесь, мои новые сексуальн</p>
		</div>
		<div class="comment__item">
			<div class="comment__item_img">
				<img src="img/pic04.jpg" alt="Иллюстрация">
			</div>
			<div class="comment__item_price">
				<div class="comment__item_price_wrap">
					<s>$80</s>
					<strong>$22</strong>
				</div>
				<a href="comment__more">Смотреть</a>
			</div>
		</div>
	</div>
</div>