<div class="slider__delivery">
	<div class="slider__item" >
		<a href="#" class="icon__heart"></a>
		<div class="slider__item_m">
			<div class="slider__item_img">
				<img src="img/pic05.jpg" alt="Иллюстрация">
			</div>
			<div class="prod__hs_text">
				<a href="#">Lorem ipsum dolor sit amet, consectetur.</a>
				<div class="prod__price">
					<s>$80</s>
					<strong>$65</strong>
				</div>
			</div>
			<div class="stars">
				<span class="star">
					<span class="star_l active"></span>
					<span class="star_r active"></span>
				</span>
				<span class="star">
					<span class="star_l active"></span>
					<span class="star_r active"></span>
				</span>
				<span class="star">
					<span class="star_l active"></span>
					<span class="star_r active"></span>
				</span>
				<span class="star">
					<span class="star_l active"></span>
					<span class="star_r active"></span>
				</span>
				<span class="star">
					<span class="star_l active"></span>
					<span class="star_r active"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="slider__item">
		<a href="#" class="icon__heart"></a>
		<div class="slider__item_x">
			<div class="big__slide_left">
				<div class="big__slide_text">
					<h3 class="title__free">Бесплатная доставка</h3>
					<a href="#">
						Lorem ipsum dolor sit amet, consectetur.
					</a>
				</div>
				<a href="#" class="bay">
					<div class="bay__price">
						<div class="center">
							<s>$100</s>
							<strong>$75</strong>
						</div>
					</div>
					<span class="bay__img">
						<i class="icon__bay"></i>
					</span>
				</a>
			</div>
			<div class="big__slide_img">
				<img src="img/pic06.jpg" alt="Иллюстрация">
			</div>
		</div>
	</div>
	<div class="slider__item" >
		<div class="slider__item_transparent">
			<div class="prod__hss">
				<div class="prod__hss_text">
					<a href="#">Lorem ipsum dolor sit.</a>
					<div class="prod__price">
						<s>$80</s>
						<strong>$65</strong>
					</div>
				</div>
				<div class="prod__hss_img">
					<img src="img/pic02.jpg" alt="Иллюстрация">
				</div>
			</div>
			<div class="prod__hss">
				<div class="prod__hss_text">
					<a href="#">Lorem ipsum dolor sit.</a>
					<div class="prod__price">
						<s>$80</s>
						<strong>$65</strong>
					</div>
				</div>
				<div class="prod__hss_img">
					<img src="img/pic03.jpg" alt="Иллюстрация">
				</div>
			</div>
		</div>
	</div>
	<div class="slider__item">
		<div class="slider__item_transparent">
			<div class="prod__hss">
				<div class="prod__hss_text">
					<a href="#">Lorem ipsum dolor sit.</a>
					<div class="prod__price">
						<s>$80</s>
						<strong>$65</strong>
					</div>
				</div>
				<div class="prod__hss_img">
					<img src="img/pic02.jpg" alt="Иллюстрация">
				</div>
			</div>
			<div class="prod__hss">
				<div class="prod__hss_text">
					<a href="#">Lorem ipsum dolor sit.</a>
					<div class="prod__price">
						<s>$80</s>
						<strong>$65</strong>
					</div>
				</div>
				<div class="prod__hss_img">
					<img src="img/pic03.jpg" alt="Иллюстрация">
				</div>
			</div>
		</div>
	</div>
</div>